* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

.menu-item {
    float: left;
}

.menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-item a:hover {
    background-color: #555;
}

#generic-table td {
  width: 350px;
}

#generic-table td, #generic-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#generic-table tr:hover {
  background-color: #ddd;set
}

#generic-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aaa;
    color: white;
}
