<table id="generic-table">
  <tr>
    <th>Test Case</th>
    <th>Feature</th>
  </tr>
  <% @testcases.each do |testcase| %>
    <% testcase.features.each do |feature| %>
      <tr>
        <td><a href='/testcases/<%=testcase.id%>'><%= testcase.title %></a></td>
        <td><a href='/features/<%=feature.id%>'><%= feature.title %></a></td>
      </tr>
    <% end %>
  <% end %>
</table>
