<table id="generic-table">
  <tr>
    <th>Test Cases</th>
  </tr>
  <% @testcases.each do |testcase| %>
    <tr>
      <td><a href='/testcases/<%=testcase.id%>'><%= testcase.title %></a></td>
    </tr>
  <% end %>
</table>
