<table id="generic-table">
  <thead>
    <tr>
      <th>Test Cases</th>
      <th>Feature Count</th>
    </tr>
  </thead>
  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td><a href='/testcases/<%=testcase.id%>'><%= testcase.title %></a></td>
        <td><%= testcase.features.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
