<!doctype html>
<html>
  <head>
    <title>Test Case Library</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/style.css")%>">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 id="logo">Test Case Library</h1>
        <% if logged_in? %>
          <h3 id="welcome">Welcome, <%= current_user.name %>!</h3>
        <% end %>
        <nav>
          <ul id="topnav">
            <% if logged_in? %>
              <li class="menu-item"><a href='/features'>Features</a></li>
              <li class="menu-item"><a href='/testcases'>Test Cases</a></li>
              <li class="menu-item user"><a href='/users/<%=current_user.id%>'>My Test Cases</a></li>
              <li class="menu-item user"><a href='/logout'>Log Out</a></li>
            <% else %>
              <li class="menu-item user"><a href='/signup'>Sign Up</a></li>
              <li class="menu-item user"><a href='/login'>Log In</a></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <main>

        <%= yield %>

      </main>
    </div>
  </body>
</html>
