<h3>Welcome, <%= current_user.name %>!</h3>
<p>Features:
  <div class="feature">
    <% @features.each do |feature| %>
      Title: <a href='/features/<%=feature.id%>'><%= feature.title %></a>
      <br>
      Description: <%= feature.description %>
      <br>
      <br>
    <% end %>
  </div>
</p>
