<table id="generic-table">
  <thead>
    <tr>
      <th>Feature</th>
      <th>Test Case Count</th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><a href='/features/<%=feature.id%>'><%= feature.title %></a></td>
        <td><%= feature.testcases.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
