<table id="generic-table">
  <thead>
    <tr>
      <th>Feature</th>
      <th>Description</th>
      <th>Test Cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @feature.title %></td>
      <td><%= @feature.description %></td>
      <td>
        <% @feature.testcases.each do |testcase| %>
            <a href='/testcases/<%=testcase.id%>'><%= testcase.title %></a>
            <br>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<form action='/testcases/new' method='get'>
  <input type="submit" value="Add New Test Case">
</form>
